<div class="AccountFormWrapper">
  <div class="AccountFormContainer">
    <h2 class="AccountFormTitle">新規登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: "form-label" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %> 文字以上)
        <% end %><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "form-label" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <%= f.submit "アカウントを作成", class: 'btn btn-primary' %><br>
      <%= link_to "アカウントをお持ちの場合はログイン", new_user_session_path, class:"btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>

  <%= render "devise/shared/links" %>
