<!DOCTYPE html>
<html>
  <head>
    <title>Yoyaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
    <% if flash[:notice] %>
      <p>Notice: <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p>Alert: <%= flash[:alert] %></p>
    <% end %>

  <header>
    <% if user_signed_in? %>
      <%= render "layouts/shared/login_header" %>
    <% else %>
      <%= render "layouts/shared/logout_header" %>
    <% end %>
  </header>

    <%= yield %>
  </body>
</html>
